input {
    padding: 5px;
    margin: 1rem 1rem .5rem 1rem;
    font-size: 1.1rem;
}
input:focus{
    outline: none;
}

.login-btn {
    margin-top: 1rem;
}
button {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008cba;
    border-radius: 1rem;

    margin-left: 1rem;
}
button:focus{
    outline: none;
}

button:hover {
    background-color: #008cba;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

textarea{
   margin: 1rem;
   padding: .5rem;
}

textarea:focus{
    outline: none;
}