.addproduct-select select{
    padding: 5px;
    margin: 1rem 1rem .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

}

.addproduct-select label{
    font-size: 1.5rem;
    margin-left: 1rem;
}
select:focus{
    outline: none;

}