.all-show-order {
    padding: 1rem;
    min-height: 12rem;
    max-width: 20rem;

    box-shadow: 5px 10px 18px #888888;

    border-radius: 1rem;

    display: flex;
    flex-wrap: wrap;

    margin-left: 2rem;
}
.order-card{
    margin-bottom: 10;
}
.delorder button{
    margin-left: 1rem;
}
.ordercontainer{
    display: flex;
}