.all-show-order {
    padding: 1rem;
    min-height: 12rem;
    max-width: 20rem;

    box-shadow: 5px 10px 18px #888888;

    border-radius: 1rem;

    margin-left: 2rem;
}

/* .ordercontainer{
    display: flex;
    flex-wrap: wrap; 
}
*/
.order-card{
    /* max-width: 30rem; */
    margin-bottom: 10;
}
.delorder button{
    /* margin-left: 1rem; */
}
.ordercontainer{
    /* display: flex; */
}
