* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #ededed;
    min-height: 100vh;

    display: grid;

    grid-column-start: 1;
    grid-column-end: 3;

    min-height: 100vh;
}

.dashboard {
    grid-row: 1/6;

    grid-column: 1/1;
    background-color: #263544;

    border: 2px solid red;
}

.navbar {
    grid-column: 2/6;

    grid-row: 1/1;

    min-height: 10vh;

    border: 2px solid red;
}
.content {
   
    grid-row: 2/5;
    grid-column: 2/6;
  
    min-height: 100vh;
    border: 2px solid red;
}

.footer {
    grid-row: 5/6;
    grid-column: 2/6;
  
    min-height: 8vh;

    border: 2px solid red;
}
