.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */

    min-height: 80vh;

    font-family: "Love Ya Like A Sister", cursive;
}

.home-total{
    margin-top: 2rem;
}