.detail-container .detail-heading {
    margin-top: 0.8rem;
    display: flex;

    justify-content: space-around;
}

.detail-show {
    margin-top: 2rem;
}

.fa-times {
    margin-left: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.detail-show table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

.detail-show table {
    border-collapse: collapse;
    width: 100%;
}

.detail-show th,
td {
    padding: 15px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.detail-edit button{
  border-radius: 5px;
 
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;

  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  background-color: white; 
  color: black; 

  border: 2px solid #008CBA;
}

.detail-edit button:hover {
   

    background-color: #008CBA;
    color: white;
}


.detail-delete button{
  border-radius: 5px;
 
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;

  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  background-color: white; 
  color: black; 

  border: 2px solid #f44336;
}

.detail-delete button:hover {
   

    background-color: #f44336;
    color: white;
}