
.welcomestore-container{
    padding: 1rem;
}

.babies-title p {
    font-size: 1.5rem;
    color: #008cba;
    padding-top: 2rem;
    /* padding-left: 1rem; */
}

.babies-title{
    border-bottom: 1px solid #008cba;
}