.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 100vh;
    margin: 10px;
    padding: 5rem;

}
.contact-container h1{
    font-family: "Love Ya Like A Sister", cursive;
    color: #008cba;
}
.message-container {
    padding: 1rem;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5rem;

}
.message-container input {
    padding: 5px;
    margin: 1rem 1rem 1rem 0rem;
    font-size: 1.1rem;
}



.message-container input:focus {
    outline: none;
}
textarea{
    margin-top: 2rem;
    padding: 1rem;
}

.contact-login-btn {
    margin-top: 1rem;
}

button {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008cba;
    border-radius: 1rem;
}
button:focus {
    outline: none;
}

button:hover {
    background-color: #008cba;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact-info {
    padding: 1rem;

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5rem;
    min-height: 20rem;

    margin-top: 2rem;
}

.info-heading , .message-description{
    margin-bottom: 3rem;

}

.contact-location , .contact-phonenumber , .contact-gmail{
    margin-top: 1rem;
}

@media (max-width:800px){
    h1{
       font-size: 1.5rem;
    
    }
    h2{
        font-size: 1rem;
    }

    .contact-info{
        min-height: 15rem;
    }
}

